{% load static %}
{% load towertag %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href={% static 'search/search.css' %} type = "text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<p> search for another summoner:</p>
<form action="{% url 'search:searchtarget'%}" method="post">
    {% csrf_token %}
    <input type="text" placeholder="Search for a summoner" name="summonerName"/>
    <input type="submit" value="Search"/>
</form>


{% if name %} <div class="text"><p>{{name}}</p></div>
{% else %} <p>no name</p>
{% endif %}

{% if overview %}
<p>{{overview}}</p>
{% endif %}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#winrates" aria-expanded="true" aria-controls="winrates">
Winrate Statistics
</button>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#dragonInfo" aria-expanded="true" aria-controls="dragonInfo">
Dragons
</button>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#baronInfo" aria-expanded="true" aria-controls="baronInfo">
Baron Info
</button>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#towers" aria-expanded="true" aria-controls="towers">
Towers
</button>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#kills" aria-expanded="true" aria-controls="kills" onclick="setupHeatmap()">
Kills
</button>

<div class="collapse" id="winrates" style="">
<h3> Winrate Statistics </h3>
{% if winratesByTime %}
{% for wr in winratesByTime %}
<p>{{wr}}</p>
{% endfor %}
{% endif %}


{% if otherSummonersWr %}
<p> Players with whom you've played more than two games (Games you won, games played)</p>
{% for wr in otherSummonersWr %}
<p> {{wr}}</p>
{% endfor %}
{% endif %}
</div>




<div class="collapse" id="dragonInfo" style="">
<h3> Dragons </h3>

<p>Percent of total elemental drakes you kill: {{pctElementals}}</p>
<p>Percent of total elder drakes you kill: {{pctElders}}</p>

{% if pctOfEachType %}
<p> Of the drakes you kill, you get the following:</p>
{% for d in pctOfEachType %}
	<p>{{d}}</p>
{% endfor %}
{% endif %}

{% if pctOfTotalByType %}
<p> of the total drakes of each type in your game, you kill the following of each:</p>
{% for d in pctOfTotalByType %}
	<p>{{d}}</p>
{% endfor %}
{% endif %}
{% if pctEleByOrder %}
<p> You kill the following percentage of the elemental dragons by order in your games: </p>
{% for d in pctEleByOrder %}
	<p>{{forloop.counter}}:{{d}}</p>
{% endfor %}
{% endif %}

{% if pctElderByOrder %}
<p> You kill the following percentage of the elder dragons by order in your games: </p>
{% for d in pctElderByOrder %}
<p>{{forloop.counter}}: {{d}} </p>
{% endfor %}

{% endif %}

{% comment %}
All the timePercent dragon functions return a pair - a timedelta and a percentage.
Dragon time info:
'firstDragTime'    : matchList.firstElementalDragonTime(),
'enemyContDragInfo': matchList.timePercentEnemyContestedElementalDragons(),
'enemyB2BDragInfo' : matchList.timePercentEnemyBackToBackElementalDragons(),
'contDragInfo'     : matchList.timePercentContestedElementalDragons(),
'b2BDragInfo'      : matchList.timePercentBackToBackElementalDragons(),
{% endcomment %}
<p> When you get the first dragon, you get it on average at {{firstDragTime}}</p>
<p> After the enemy takes an elemental drake, you take the next elemental drake {{contDragInfo.1}}% of the time in an average of {{contDragInfo.0}}</p>
<p> After the enemy takes an elemental drake, you lose the next elemental drake {{enemyB2BDragInfo.1}}% of the time in an average of {{enemyB2BDragInfo.0}}</p>
<p> After you take an elemental drake, you take the next elemental drake {{b2BDragInfo.1}}% of the time in an average of {{b2BDragInfo.0}}</p>
<p> After you take an elemental drake, you lose the next elemental drake {{enemyContDragInfo.1}}% of the time in an average of {{enemyContDragInfo.0}}</p>

</div>

<div class="collapse" id="baronInfo" style="">
	<h3> Barons </h3>
	<p>Average number of barons killed per game: {{avgBarons}} </p>
</div>

<div class="collapse" id="towers" style="">
	<h3> Towers </h3>

	<div class="towerdisplay" style="position:relative;">
		<img id="winmap" src="/static/minimap.png" title="My cat sat on a table">
        <img id="lossmap" src="/static/minimap.png" title="My cat sat on a table">
        <!-- Win game, get turrets !-->
		<div id="to-kill-win"><img src="/static/{% enemyTowerIcon winTowersKilled "OUTER_TURRET" "TOP_LANE" %}.png"></div>
		<div id="ti-kill-win"><img src="/static/{% enemyTowerIcon winTowersKilled "INNER_TURRET" "TOP_LANE" %}.png"></div>
		<div id="tb-kill-win"><img src="/static/{% enemyTowerIcon winTowersKilled "BASE_TURRET" "TOP_LANE" %}.png"></div>
		<div id="mo-kill-win"><img src="/static/{% enemyTowerIcon winTowersKilled "OUTER_TURRET" "MID_LANE" %}.png"></div>
		<div id="mi-kill-win"><img src="/static/{% enemyTowerIcon winTowersKilled "INNER_TURRET" "MID_LANE" %}.png"></div>
        <div id="mb-kill-win"><img src="/static/{% enemyTowerIcon winTowersKilled "BASE_TURRET" "MID_LANE" %}.png"></div>
        <div id="bo-kill-win"><img src="/static/{% enemyTowerIcon winTowersKilled "OUTER_TURRET" "BOT_LANE" %}.png"></div>
		<div id="bi-kill-win"><img src="/static/{% enemyTowerIcon winTowersKilled "INNER_TURRET" "BOT_LANE" %}.png"></div>
        <div id="bb-kill-win"><img src="/static/{% enemyTowerIcon winTowersKilled "BASE_TURRET" "BOT_LANE" %}.png"></div>
        <div id="mn-kill-win"><img src="/static/{% enemyTowerIcon winTowersKilled "NEXUS_TURRET" "MID_LANE" %}.png"></div>
        <!-- Win game, lost turrets !-->
        <div id="to-lost-win"><img src="/static/{% allyTowerIcon winTowersLost "OUTER_TURRET" "TOP_LANE" %}.png"></div>
		<div id="ti-lost-win"><img src="/static/{% allyTowerIcon winTowersLost "INNER_TURRET" "TOP_LANE" %}.png"></div>
		<div id="tb-lost-win"><img src="/static/{% allyTowerIcon winTowersLost "BASE_TURRET" "TOP_LANE" %}.png"></div>
		<div id="mo-lost-win"><img src="/static/{% allyTowerIcon winTowersLost "OUTER_TURRET" "MID_LANE" %}.png"></div>
		<div id="mi-lost-win"><img src="/static/{% allyTowerIcon winTowersLost "INNER_TURRET" "MID_LANE" %}.png"></div>
        <div id="mb-lost-win"><img src="/static/{% allyTowerIcon winTowersLost "BASE_TURRET" "MID_LANE" %}.png"></div>
        <div id="bo-lost-win"><img src="/static/{% allyTowerIcon winTowersLost "OUTER_TURRET" "BOT_LANE" %}.png"></div>
		<div id="bi-lost-win"><img src="/static/{% allyTowerIcon winTowersLost "INNER_TURRET" "BOT_LANE" %}.png"></div>
        <div id="bb-lost-win"><img src="/static/{% allyTowerIcon winTowersLost "BASE_TURRET" "BOT_LANE" %}.png"></div>
        <div id="mn-lost-win"><img src="/static/{% allyTowerIcon winTowersLost "NEXUS_TURRET" "MID_LANE" %}.png"></div>
        <!-- Lost game, lost turrets !-->
        <div id="to-lost-lose"><img src="/static/{% allyTowerIcon lossTowersLost "OUTER_TURRET" "TOP_LANE" %}.png"></div>
		<div id="ti-lost-lose"><img src="/static/{% allyTowerIcon lossTowersLost "INNER_TURRET" "TOP_LANE" %}.png"></div>
		<div id="tb-lost-lose"><img src="/static/{% allyTowerIcon lossTowersLost "BASE_TURRET" "TOP_LANE" %}.png"></div>
		<div id="mo-lost-lose"><img src="/static/{% allyTowerIcon lossTowersLost "OUTER_TURRET" "MID_LANE" %}.png"></div>
		<div id="mi-lost-lose"><img src="/static/{% allyTowerIcon lossTowersLost "INNER_TURRET" "MID_LANE" %}.png"></div>
        <div id="mb-lost-lose"><img src="/static/{% allyTowerIcon lossTowersLost "BASE_TURRET" "MID_LANE" %}.png"></div>
        <div id="bo-lost-lose"><img src="/static/{% allyTowerIcon lossTowersLost "OUTER_TURRET" "BOT_LANE" %}.png"></div>
		<div id="bi-lost-lose"><img src="/static/{% allyTowerIcon lossTowersLost "INNER_TURRET" "BOT_LANE" %}.png"></div>
        <div id="bb-lost-lose"><img src="/static/{% allyTowerIcon lossTowersLost "BASE_TURRET" "BOT_LANE" %}.png"></div>
        <div id="mn-lost-lose"><img src="/static/{% allyTowerIcon lossTowersLost "NEXUS_TURRET" "MID_LANE" %}.png"></div>
        <!-- Lost game, killed turrets !-->
        <div id="to-kill-lose"><img src="/static/{% enemyTowerIcon lossTowersKilled "OUTER_TURRET" "TOP_LANE" %}.png"></div>
		<div id="ti-kill-lose"><img src="/static/{% enemyTowerIcon lossTowersKilled "INNER_TURRET" "TOP_LANE" %}.png"></div>
		<div id="tb-kill-lose"><img src="/static/{% enemyTowerIcon lossTowersKilled "BASE_TURRET" "TOP_LANE" %}.png"></div>
		<div id="mo-kill-lose"><img src="/static/{% enemyTowerIcon lossTowersKilled "OUTER_TURRET" "MID_LANE" %}.png"></div>
		<div id="mi-kill-lose"><img src="/static/{% enemyTowerIcon lossTowersKilled "INNER_TURRET" "MID_LANE" %}.png"></div>
        <div id="mb-kill-lose"><img src="/static/{% enemyTowerIcon lossTowersKilled "BASE_TURRET" "MID_LANE" %}.png"></div>
        <div id="bo-kill-lose"><img src="/static/{% enemyTowerIcon lossTowersKilled "OUTER_TURRET" "BOT_LANE" %}.png"></div>
		<div id="bi-kill-lose"><img src="/static/{% enemyTowerIcon lossTowersKilled "INNER_TURRET" "BOT_LANE" %}.png"></div>
        <div id="bb-kill-lose"><img src="/static/{% enemyTowerIcon lossTowersKilled "BASE_TURRET" "BOT_LANE" %}.png"></div>
        <div id="mn-kill-lose"><img src="/static/{% enemyTowerIcon lossTowersKilled "NEXUS_TURRET" "MID_LANE" %}.png"></div>
        
		<div id="towerinfo">
            <!-- Win game, get turrets !-->
		    <div class="to-kill-win">In wins, you take {% towerPct winTowersKilled "OUTER_TURRET" "TOP_LANE" %}{%comment%}
	{%endcomment%}% of top outer turrets at an average time of {% towerMin winTowersKilled "OUTER_TURRET" "TOP_LANE" %}:{% towerSec winTowersKilled "OUTER_TURRET" "TOP_LANE" %}</div>
		    <div class="ti-kill-win">In wins, you take {% towerPct winTowersKilled "INNER_TURRET" "TOP_LANE" %}{%comment%}
	{%endcomment%}% of top inner turrets at an average time of {% towerMin winTowersKilled "INNER_TURRET" "TOP_LANE" %}:{% towerSec winTowersKilled "INNER_TURRET" "TOP_LANE" %}</div>
		    <div class="tb-kill-win">In wins, you take {% towerPct winTowersKilled "BASE_TURRET" "TOP_LANE" %}{%comment%}
	{%endcomment%}% of top base turrets at an average time of {% towerMin winTowersKilled "BASE_TURRET" "MID_LANE" %}:{% towerSec winTowersKilled "BASE_TURRET" "TOP_LANE" %}</div>
		    <div class="mo-kill-win">In wins, you take {% towerPct winTowersKilled "OUTER_TURRET" "MID_LANE" %}{%comment%}
	{%endcomment%}% of mid outer turrets at an average time of {% towerMin winTowersKilled "OUTER_TURRET" "MID_LANE" %}:{% towerSec winTowersKilled "OUTER_TURRET" "MID_LANE" %}</div>
		    <div class="mi-kill-win">In wins, you take {% towerPct winTowersKilled "INNER_TURRET" "MID_LANE" %}{%comment%}
	{%endcomment%}% of mid inner turrets at an average time of {% towerMin winTowersKilled "INNER_TURRET" "MID_LANE" %}:{% towerSec winTowersKilled "INNER_TURRET" "MID_LANE" %}</div>
			<div class="mb-kill-win">In wins, you take {% towerPct winTowersKilled "BASE_TURRET" "MID_LANE" %}{%comment%}
	{%endcomment%}% of mid base turrets at an average time of {% towerMin winTowersKilled "BASE_TURRET" "MID_LANE" %}:{% towerSec winTowersKilled "BASE_TURRET" "MID_LANE" %}</div>
		    <div class="bo-kill-win">In wins, you take {% towerPct winTowersKilled "OUTER_TURRET" "BOT_LANE" %}{%comment%}
	{%endcomment%}% of bot outer turrets at an average time of {% towerMin winTowersKilled "OUTER_TURRET" "BOT_LANE" %}:{% towerSec winTowersKilled "OUTER_TURRET" "BOT_LANE" %}</div>
		    <div class="bi-kill-win">In wins, you take {% towerPct winTowersKilled "INNER_TURRET" "BOT_LANE" %}{%comment%}
	{%endcomment%}% of bot inner turrets at an average time of {% towerMin winTowersKilled "INNER_TURRET" "BOT_LANE" %}:{% towerSec winTowersKilled "INNER_TURRET" "BOT_LANE" %}</div>
			<div class="bb-kill-win">In wins, you take {% towerPct winTowersKilled "BASE_TURRET" "BOT_LANE" %}{%comment%}
	{%endcomment%}% of bot base turrets at an average time of {% towerMin winTowersKilled "BASE_TURRET" "BOT_LANE" %}:{% towerSec winTowersKilled "BASE_TURRET" "BOT_LANE" %}</div>
			<div class="mn-kill-win">In wins, you take {% towerPct winTowersKilled "NEXUS_TURRET" "MID_LANE" %}{%comment%}
	{%endcomment%}% of nexus turrets at an average time of {% towerMin winTowersKilled "NEXUS_TURRET" "MID_LANE" %}:{% towerSec winTowersKilled "NEXUS_TURRET" "MID_LANE" %}</div>
            <!-- Win game, lost turrets !-->
		    <div class="to-lost-win">In wins, you lose {% towerPct winTowersLost "OUTER_TURRET" "TOP_LANE" %}{%comment%}
	{%endcomment%}% of top outer turrets at an average time of {% towerMin winTowersLost "OUTER_TURRET" "TOP_LANE" %}:{% towerSec winTowersLost "OUTER_TURRET" "TOP_LANE" %}</div>
		    <div class="ti-lost-win">In wins, you lose {% towerPct winTowersLost "INNER_TURRET" "TOP_LANE" %}{%comment%}
	{%endcomment%}% of top inner turrets at an average time of {% towerMin winTowersLost "INNER_TURRET" "TOP_LANE" %}:{% towerSec winTowersLost "INNER_TURRET" "TOP_LANE" %}</div>
		    <div class="tb-lost-win">In wins, you lose {% towerPct winTowersLost "BASE_TURRET" "TOP_LANE" %}{%comment%}
	{%endcomment%}% of top base turrets at an average time of {% towerMin winTowersLost "BASE_TURRET" "MID_LANE" %}:{% towerSec winTowersLost "BASE_TURRET" "TOP_LANE" %}</div>
		    <div class="mo-lost-win">In wins, you lose {% towerPct winTowersLost "OUTER_TURRET" "MID_LANE" %}{%comment%}
	{%endcomment%}% of mid outer turrets at an average time of {% towerMin winTowersLost "OUTER_TURRET" "MID_LANE" %}:{% towerSec winTowersLost "OUTER_TURRET" "MID_LANE" %}</div>
		    <div class="mi-lost-win">In wins, you lose {% towerPct winTowersLost "INNER_TURRET" "MID_LANE" %}{%comment%}
	{%endcomment%}% of mid inner turrets at an average time of {% towerMin winTowersLost "INNER_TURRET" "MID_LANE" %}:{% towerSec winTowersLost "INNER_TURRET" "MID_LANE" %}</div>
			<div class="mb-lost-win">In wins, you lose {% towerPct winTowersLost "BASE_TURRET" "MID_LANE" %}{%comment%}
	{%endcomment%}% of mid base turrets at an average time of {% towerMin winTowersLost "BASE_TURRET" "MID_LANE" %}:{% towerSec winTowersLost "BASE_TURRET" "MID_LANE" %}</div>
		    <div class="bo-lost-win">In wins, you lose {% towerPct winTowersLost "OUTER_TURRET" "BOT_LANE" %}{%comment%}
	{%endcomment%}% of bot outer turrets at an average time of {% towerMin winTowersLost "OUTER_TURRET" "BOT_LANE" %}:{% towerSec winTowersLost "OUTER_TURRET" "BOT_LANE" %}</div>
		    <div class="bi-lost-win">In wins, you lose {% towerPct winTowersLost "INNER_TURRET" "BOT_LANE" %}{%comment%}
	{%endcomment%}% of bot inner turrets at an average time of {% towerMin winTowersLost "INNER_TURRET" "BOT_LANE" %}:{% towerSec winTowersLost "INNER_TURRET" "BOT_LANE" %}</div>
			<div class="bb-lost-win">In wins, you lose {% towerPct winTowersLost "BASE_TURRET" "BOT_LANE" %}{%comment%}
	{%endcomment%}% of bot base turrets at an average time of {% towerMin winTowersLost "BASE_TURRET" "BOT_LANE" %}:{% towerSec winTowersLost "BASE_TURRET" "BOT_LANE" %}</div>
			<div class="mn-lost-win">In wins, you lose {% towerPct winTowersLost "NEXUS_TURRET" "MID_LANE" %}{%comment%}
	{%endcomment%}% of nexus turrets at an average time of {% towerMin winTowersLost "NEXUS_TURRET" "MID_LANE" %}:{% towerSec winTowersLost "NEXUS_TURRET" "MID_LANE" %}</div>
            <!-- Lost game, lost turrets !-->
            <div class="to-lost-lose">In losses, you lose {% towerPct lossTowersLost "OUTER_TURRET" "TOP_LANE" %}{%comment%}
	{%endcomment%}% of top outer turrets at an average time of {% towerMin lossTowersLost "OUTER_TURRET" "TOP_LANE" %}:{% towerSec lossTowersLost "OUTER_TURRET" "TOP_LANE" %}</div>
		    <div class="ti-lost-lose">In losses, you lose {% towerPct lossTowersLost "INNER_TURRET" "TOP_LANE" %}{%comment%}
	{%endcomment%}% of top inner turrets at an average time of {% towerMin lossTowersLost "INNER_TURRET" "TOP_LANE" %}:{% towerSec lossTowersLost "INNER_TURRET" "TOP_LANE" %}</div>
		    <div class="tb-lost-lose">In losses, you lose {% towerPct lossTowersLost "BASE_TURRET" "TOP_LANE" %}{%comment%}
	{%endcomment%}% of top base turrets at an average time of {% towerMin lossTowersLost "BASE_TURRET" "MID_LANE" %}:{% towerSec lossTowersLost "BASE_TURRET" "TOP_LANE" %}</div>
		    <div class="mo-lost-lose">In losses, you lose {% towerPct lossTowersLost "OUTER_TURRET" "MID_LANE" %}{%comment%}
	{%endcomment%}% of mid outer turrets at an average time of {% towerMin lossTowersLost "OUTER_TURRET" "MID_LANE" %}:{% towerSec lossTowersLost "OUTER_TURRET" "MID_LANE" %}</div>
		    <div class="mi-lost-lose">In losses, you lose {% towerPct lossTowersLost "INNER_TURRET" "MID_LANE" %}{%comment%}
	{%endcomment%}% of mid inner turrets at an average time of {% towerMin lossTowersLost "INNER_TURRET" "MID_LANE" %}:{% towerSec lossTowersLost "INNER_TURRET" "MID_LANE" %}</div>
			<div class="mb-lost-lose">In losses, you lose {% towerPct lossTowersLost "BASE_TURRET" "MID_LANE" %}{%comment%}
	{%endcomment%}% of mid base turrets at an average time of {% towerMin lossTowersLost "BASE_TURRET" "MID_LANE" %}:{% towerSec lossTowersLost "BASE_TURRET" "MID_LANE" %}</div>
		    <div class="bo-lost-lose">In losses, you lose {% towerPct lossTowersLost "OUTER_TURRET" "BOT_LANE" %}{%comment%}
	{%endcomment%}% of bot outer turrets at an average time of {% towerMin lossTowersLost "OUTER_TURRET" "BOT_LANE" %}:{% towerSec lossTowersLost "OUTER_TURRET" "BOT_LANE" %}</div>
		    <div class="bi-lost-lose">In losses, you lose {% towerPct lossTowersLost "INNER_TURRET" "BOT_LANE" %}{%comment%}
	{%endcomment%}% of bot inner turrets at an average time of {% towerMin lossTowersLost "INNER_TURRET" "BOT_LANE" %}:{% towerSec lossTowersLost "INNER_TURRET" "BOT_LANE" %}</div>
			<div class="bb-lost-lose">In losses, you lose {% towerPct lossTowersLost "BASE_TURRET" "BOT_LANE" %}{%comment%}
	{%endcomment%}% of bot base turrets at an average time of {% towerMin lossTowersLost "BASE_TURRET" "BOT_LANE" %}:{% towerSec lossTowersLost "BASE_TURRET" "BOT_LANE" %}</div>
			<div class="mn-lost-lose">In losses, you lose {% towerPct lossTowersLost "NEXUS_TURRET" "MID_LANE" %}{%comment%}
	{%endcomment%}% of nexus turrets at an average time of {% towerMin lossTowersLost "NEXUS_TURRET" "MID_LANE" %}:{% towerSec lossTowersLost "NEXUS_TURRET" "MID_LANE" %}</div>
            <!-- Lost game, killed turrets !-->
            <div class="to-kill-lose">In losses, you kill {% towerPct lossTowersKilled "OUTER_TURRET" "TOP_LANE" %}{%comment%}
	{%endcomment%}% of top outer turrets at an average time of {% towerMin lossTowersKilled "OUTER_TURRET" "TOP_LANE" %}:{% towerSec lossTowersKilled "OUTER_TURRET" "TOP_LANE" %}</div>
		    <div class="ti-kill-lose">In losses, you kill {% towerPct lossTowersKilled "INNER_TURRET" "TOP_LANE" %}{%comment%}
	{%endcomment%}% of top inner turrets at an average time of {% towerMin lossTowersKilled "INNER_TURRET" "TOP_LANE" %}:{% towerSec lossTowersKilled "INNER_TURRET" "TOP_LANE" %}</div>
		    <div class="tb-kill-lose">In losses, you kill {% towerPct lossTowersKilled "BASE_TURRET" "TOP_LANE" %}{%comment%}
	{%endcomment%}% of top base turrets at an average time of {% towerMin lossTowersKilled "BASE_TURRET" "MID_LANE" %}:{% towerSec lossTowersKilled "BASE_TURRET" "TOP_LANE" %}</div>
		    <div class="mo-kill-lose">In losses, you kill {% towerPct lossTowersKilled "OUTER_TURRET" "MID_LANE" %}{%comment%}
	{%endcomment%}% of mid outer turrets at an average time of {% towerMin lossTowersKilled "OUTER_TURRET" "MID_LANE" %}:{% towerSec lossTowersKilled "OUTER_TURRET" "MID_LANE" %}</div>
		    <div class="mi-kill-lose">In losses, you kill {% towerPct lossTowersKilled "INNER_TURRET" "MID_LANE" %}{%comment%}
	{%endcomment%}% of mid inner turrets at an average time of {% towerMin lossTowersKilled "INNER_TURRET" "MID_LANE" %}:{% towerSec lossTowersKilled "INNER_TURRET" "MID_LANE" %}</div>
			<div class="mb-kill-lose">In losses, you kill {% towerPct lossTowersKilled "BASE_TURRET" "MID_LANE" %}{%comment%}
	{%endcomment%}% of mid base turrets at an average time of {% towerMin lossTowersKilled "BASE_TURRET" "MID_LANE" %}:{% towerSec lossTowersKilled "BASE_TURRET" "MID_LANE" %}</div>
		    <div class="bo-kill-lose">In losses, you kill {% towerPct lossTowersKilled "OUTER_TURRET" "BOT_LANE" %}{%comment%}
	{%endcomment%}% of bot outer turrets at an average time of {% towerMin lossTowersKilled "OUTER_TURRET" "BOT_LANE" %}:{% towerSec lossTowersKilled "OUTER_TURRET" "BOT_LANE" %}</div>
		    <div class="bi-kill-lose">In losses, you kill {% towerPct lossTowersKilled "INNER_TURRET" "BOT_LANE" %}{%comment%}
	{%endcomment%}% of bot inner turrets at an average time of {% towerMin lossTowersKilled "INNER_TURRET" "BOT_LANE" %}:{% towerSec lossTowersKilled "INNER_TURRET" "BOT_LANE" %}</div>
			<div class="bb-kill-lose">In losses, you kill {% towerPct lossTowersKilled "BASE_TURRET" "BOT_LANE" %}{%comment%}
	{%endcomment%}% of bot base turrets at an average time of {% towerMin lossTowersKilled "BASE_TURRET" "BOT_LANE" %}:{% towerSec lossTowersKilled "BASE_TURRET" "BOT_LANE" %}</div>
			<div class="mn-kill-lose">In losses, you kill {% towerPct lossTowersKilled "NEXUS_TURRET" "MID_LANE" %}{%comment%}
	{%endcomment%}% of nexus turrets at an average time of {% towerMin lossTowersKilled "NEXUS_TURRET" "MID_LANE" %}:{% towerSec lossTowersKilled "NEXUS_TURRET" "MID_LANE" %}</div>
        </div>
	</div>
	
	
	
	<p> In wins: </p>
	{% for pair in winTowersKilled.items %}
		<p> You kill {{pair.0}} in {{pair.1.0}}% of your wins on average at {{pair.1.1}}</p>
	{% endfor %}
	{% for pair in winTowersLost.items %}
		<p> You lose {{pair.0}} in {{pair.1.0}}% of your wins on average at {{pair.1.1}}</p>
	{% endfor %}
	<br>
	<p> In losses: </p>
	{% for pair in lossTowersKilled.items %}
		<p> You kill {{pair.0}} in {{pair.1.0}}% of your losses on average at {{pair.1.1}}</p>
	{% endfor %}
	{% for pair in lossTowersLost.items %}
		<p> You lose {{pair.0}} in {{pair.1.0}}% of your losses on average at {{pair.1.1}}</p>
	{% endfor %}
	
</div>

<div class="collapse" id="kills" style="position:relative;">
<div id="displayTime">25:00-26:00 </div>
<input type="range" min="1" max="50" value="25" class="slider" id="killTime">
<img src="/static/minimap.png" style="position:absolute;x:0;y:0;"></img>
<div id="heatMap" style="height: 742px;z-axis=1;">


</div>
</div>


<script src="{% static 'search/heatmap.min.js' %}"></script>

<script>
	var kills = [];
	{% for kill in championKills %}
		kills.push({x: {{kill.x}}, y: {{kill.y}}, timestamp: {{kill.timestamp}}, isKill: "{{kill.isKill}}" }); 
	{% endfor %}
	var slider = document.getElementById("killTime");
	var killTime = document.getElementById("displayTime");
	slider.oninput = killTimeSlide;
	
	function killTimeSlide(){
		killTime.innerHTML = (slider.value-1) + ':00-' + slider.value+':00';
		setupHeatmapHelper(slider.value-1);
	}
	function setupHeatmap(){
		window.setTimeout(function() { setupHeatmapHelper(25); }, 750);
	}
	function setupHeatmapHelper(time) {
		if (typeof setupHeatmapHelper.hm == 'undefined'){
  			setupHeatmapHelper.hm = h337.create({
	    		container: document.getElementById('heatMap')
			});
		}
		var points = [];
		for(i = 0; i < kills.length; i++){
			//if(kills[i].timestamp/60000 /* minutes */ > time && kills[i].timestamp/60000 < time+1){
				points.push({
					x: kills[i].x,
					y: kills[i].y,
					value: 25
				});  
			//}
		}
  		var testData = {
        	min: 0,
        	max: 200,
        	data: points
  		};
	  	setupHeatmapHelper.hm.setData(testData);
	}

</script>


